<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Pivota CloudFoundry Demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- meta http-equiv="refresh" content="10" / -->

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<link href="../static/css/pivotal-demo.css"
	th:href="@{css/pivotal-demo.css}" rel="stylesheet" media="screen" />
</head>
<body ng-app="pivotalDemo">
	<div class="container">
		<div class="panel">
			<img src="../static/images/cloud-foundry-logo.png" width="216"
				th:src="@{images/cloud-foundry-logo.png}" />
			<h3>Welcome to this little Cloud Foundry demo.</h3>
		</div>
		<div ng-show="loading">
			<p>Application info loading ...</p>
		</div>
		<div ng-controller="appController" ng-cloak="">
			<p>We got {{app.numbers}} instances running.</p>
			<p>This is instance number {{app.index}}.</p>
			<p>The application is running {{(uptime.appUptime/1000) |
				number:0}} seconds.</p>
			<p>This node is running {{(uptime.nodeUptime/1000) | number:0}}
				seconds, which are more seconds than {{uptime.trivia}}.</p>
		</div>

	</div>

	<script
		src="http://cdn.jsdelivr.net/webjars/angularjs/1.4.8/angular.min.js"
		th:src="@{/webjars/angularjs/1.4.8/angular.min.js}"></script>
	<script src="../static/js/pivotalDemo.js" th:src="@{js/pivotalDemo.js}"></script>

</body>
</html>
